<div class="add-row">
  <button routerLink="/adicionar" class="btn btn-success btn-sm">Adicionar Livro</button>
</div>
<div>
  <app-show-books-search-bar [status]="status" [interactor]="interactor" [searchText]="searchText" >
  </app-show-books-search-bar>
  <app-show-books-list-book [status]="status" [interactor]="interactor" [books]="books">
  </app-show-books-list-book>
  <app-show-books-footer-loading [status]="status" [interactor]="interactor" [books]="books" [hasNext]="hasNext" [hasNextButton]="hasNextButton">
  </app-show-books-footer-loading>
</div>

