:root {

  --color-gray: #999;
  --color-white: #FAFAFA;
  --color-danger: #BB2124;
  --color-green: #65D36E;
  --color-blue: #007bff;

}

@mixin screenType($media) {

  @if $media == desktop {
    @media only screen and (min-width: 700px) { @content; }
  }

  @else if $media == mobile {
    @media only screen and (max-width: 699px) { @content; }
  }

  @else if $media == mobile-small-screen {
    @media only screen and (max-width: 365px) { @content; }
  }

}

