:root {

  --color-gray: #999;
  --color-white: #FAFAFA;
  --color-danger: #f04141;
  --color-green: #10dc60;
  --color-blue: #007bff;
  --color-yellow: #ffce00;

}

@mixin screenType($media) {

  @if $media == desktop {
    @media only screen and (min-width: 700px) { @content; }
  }

  @else if $media == mobile {
    @media only screen and (max-width: 699px) { @content; }
  }

  @else if $media == mobile-small-screen {
    @media only screen and (max-width: 365px) { @content; }
  }

}

