<div class="input-content" [formGroup]="formGroup">
  <label>
    {{ label }}
  </label>
  <input class="form-control" [formControlName]="name" [type]="type"
    [placeholder]="placeholder" (ionFocus)="focus(true)" (ionBlur)="focus(false)" />
  <div class="message-container">
    <ng-container *ngFor="let validation of formMessage.content">
      <div class="messages {{abstractControl['focus'] ? 'validation-warning' : 'validation-errors'}}" *ngIf="abstractControl.hasError(validation.type) && (abstractControl.touched || abstractControl.value)" >
        {{ validation.message }}
      </div>
    </ng-container>
  </div>
</div>
