.list-group {

  margin-top: 15px;
  margin-bottom: 15px;

  .list-group-item:not(:first-child) {

    margin-top: 15px;


  }

  .list-group-item {

    .row span {

      font-size: 1.1rem;
      line-height: 1.5;
      color: var(--color-gray);
      margin-left: 5px;

    }

    .row:first-child {

      span:first-child {

        flex: 0.98;
        margin-top: 7.5px;

        app-icon {

          color: var(--color-blue);
          padding-right: 5px;
          cursor: pointer;

        }

      }

      .btn-outline-success:focus, .btn-outline-danger:focus {
        box-shadow: none;
        outline:0;
      }


      .btn-outline-success:active, .btn-outline-danger:active {
        color: var(--color-white);
      }

      .btn-outline-success {

        color: var(--color-green)


      }

      .btn-outline-danger {

        color: var(--color-danger)

      }


    }

    .row:nth-child(2) {

      margin-top: 15px;
      border-top: 1px solid rgba(0,0,0,.125);
      padding-top: 10px;
      color: var(--color-green);

    }

  }

  .dropdown-menu {

    min-width: auto;

    .dropdown-item {

      padding: 5px 10px;

    }

    app-icon {

      padding-right: 5px;

    }

  }

}
