<div *ngIf="isEmpty()" class="list-empty">
  <h1>{{ constants.emptyTitle }}</h1>
  <p>{{ constants.emptyMessage }}</p>
  <button class="btn btn-success">{{ constants.emptyButton }}</button>
</div>

<div *ngIf="isFilter()" class="list-filter">
  <h1>{{ constants.filterTitle}}</h1>
  <p>{{ constants.filterMessage}}</p>
</div>

<div *ngIf="isIssue()" class="list-filter">
  <h1>{{ constants.issueTitle}}</h1>
  <p>{{ constants.issueMessage}}</p>
</div>

<div *ngIf="isLoading()" class="list-loading">
  <ul class="list-group">
    <li *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];" class="list-group-item clearfix" ></li>
  </ul>
</div>

<div *ngIf="isSuccess()" class="list-success">
  <ul class="list-group">
    <li *ngFor="let book of books;" class="list-group-item clearfix" >
      <div class="row">
      <span>
        <app-icon [iconName]="book.isCollapsed ? constants.iconPlus : constants.iconMinus" (click)="book.isCollapsed = !book.isCollapsed"></app-icon>
        {{ book.name }}
      </span>
        <span>
        <div ngbDropdown>
          <button class="btn btn-outline-dark" ngbDropdownToggle>Opções</button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="editBook(book.id)" class="btn-outline-success">
              <app-icon [iconName]="constants.iconEdit"></app-icon>Editar
            </button>
            <button ngbDropdownItem (click)="deleteBook(book.id)" class="btn-outline-danger">
              <app-icon [iconName]="constants.iconDelete"></app-icon>Deletar
            </button>
          </div>
        </div>
      </span>
      </div>
      <div class="row" [ngbCollapse]="book.isCollapsed">
        <div>
          <div class="line">
            <strong>{{constants.successName}}</strong> {{ book.name }}
          </div>
          <div class="line">
            <strong>{{constants.successAuthor}}</strong> {{ book.author }}
          </div>
          <div class="line">
            <strong>{{constants.successPrice}}</strong> {{ book.price | formatMoney }}
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
