<ul class="list-group">
  <li *ngFor="let item of list;" class="list-group-item clearfix" >
    <div class="row">
      <span>
        <app-icon [iconName]="iconAdd" (click)="item.isCollapsed = !item.isCollapsed"></app-icon>
        {{ item.name }}
      </span>
      <span>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" ngbDropdownToggle>Opções</button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>
              <app-icon [iconName]="iconEdit"></app-icon>Editar
            </button>
            <button ngbDropdownItem>
              <app-icon [iconName]="iconDelete"></app-icon>Deletar
            </button>
          </div>
        </div>
      </span>
    </div>
    <div class="row" [ngbCollapse]="item.isCollapsed">
      You can collapse this card by clicking Toggle
    </div>
  </li>
</ul>
