.list-group {

  margin-top: 15px;
  margin-bottom: 15px;

  .list-group-item:not(:first-child) {

    margin-top: 15px;


  }

  .list-group-item {

    .row span {

      margin-left: 5px;

    }

    .row:first-child {

      span:first-child {

        flex: 0.98;
        font-size: 1.1rem;
        line-height: 1.5;
        color: var(--color-gray);
        margin-top: 7.5px;

        app-icon {

          color: var(--color-blue);
          padding-right: 5px;
          cursor: pointer;

        }

      }

    }

    .row:nth-child(2) {

      margin-top: 15px;
      border-top: 1px solid rgba(0,0,0,.125);
      padding-top: 10px;

    }

  }

  .dropdown-menu {

    min-width: auto;

    .dropdown-item {

      padding: 5px 10px;

    }

    app-icon {

      padding-right: 5px;

    }

  }

}
