.row-back {

  margin-bottom: 20px;

}

.row-title {

  text-align: center;
  font-size: 30px;
  font-weight: 600;

}

.row-inputs {

  margin-top: 20px;
  margin-bottom: 20px;

}

.row-button {

  text-align: center;

}
