<div class="row-title">
  {{ title }}
</div>
<form [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">
  <div class="row-inputs">
    <app-input-name [formGroup]="formGroup" [formGroupMessage]="formGroupMessage"></app-input-name>
    <app-input-author [formGroup]="formGroup" [formGroupMessage]="formGroupMessage"></app-input-author>
    <app-input-price [formGroup]="formGroup" [formGroupMessage]="formGroupMessage"></app-input-price>
  </div>
  <div class="row-button">
    <button class="btn btn-success" [disabled]="!formGroup.valid">{{ btnText }}</button>
  </div>
</form>


